// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #603e9c !default; // Original HEX was #155799 (blue). Changed to #603e9c (purple)

// Text
$section-headings-color: #159957 !default; 
h1 { color:#159957; }
h2 { color:#159957; }
h3 { color:#603e9c; }
h4 { color:#603e9c; }
//$section-headings-color-secondary: #603e9c !default; // Added line. Are secondary sections changed to purple?
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
